<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <Link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1 class="title"> Hello Dear Friends..</h1>
    <%for(let post of posts){%>
    <div class="post">
       <i><p class="user">username:<%=post.username %></p></i> 
        <p class="content">content:<%=post.content %></p>
        <br/>
        <button><a href="http://localhost:9836/posts/new">Create new post</a></button>
        <button><a href="http://localhost:9836/posts/<%=post.id%>">View in Detail</a> </button>
    </div>
<%}%>
</body>
</html>