<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter username" name="username"/><br/><br/>
        <textarea type="text" placeholder="Enter content" name="content"></textarea><br/>
        <button>Submit Details</button>
    </form>
    
</body>
</html>