<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>specific post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Now you can see specific posts....</h1>
    <div class="post">
        <p>id:<%=post.id%></p>
        <i><p class="user">username:<%=post.username %></p></i> 
         <p class="content">content:<%=post.content %></p>
         <br/>
    </div>
</body>
</html>